*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --crayola: #1f363d;
  --tealblue: #40798c;
  --greensheen: #70a9a1;
  --cambridgeblue: #9ec1a3;
  --teagreem: #cfe0c3;
}

body {
  background-color: var(--teagreem);
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  padding: 15px;
}
