/* Card styles */
.card {
  border: var(--border);
  margin: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 3px solid var(--crayola);
  border-radius: 5px;
}

.card ul {
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 5px;
  bottom: 5px;
  gap: 5px;
}

.card li button {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--crayola);
  color: white;
}

.card:last-child {
  margin-bottom: 100px;
}

.card__button-answer {
  background: var(--crayola);
  color: white;
  border: var(--border);
  padding: 15px;
  font-size: 1.5rem;
  margin: 20px 0;
  border: 3px solid var(--crayola);
}

.card__bookmark {
  width: 50px;
  position: absolute;
  top: -7px;
  right: 0px;
}

.card__answer {
  padding-bottom: 20px;
  font-size: 1.2rem;
}
